<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
   Please contact me at zxz305 'at' case 'dot' edu.
   you can find my school at <a href="http://case.edu">Case Western Reserve University</a>
</p>
